  <nav>
    <span class="logo">Brand</span>

    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-btn">&#9776;</label>

    <div class="nav-links">
      {% comment %} <a href="{% url 'home' %}" class="{% if request.path == '/home/' %}active{% endif %}">Home</a> {% endcomment %}
      <a href="{% url 'createPage' %}" class="{% if request.path == '/createPage/' %}active{% endif %}">Create</a>
      <a href="{% url 'readPage' %}" class="{% if request.path == '/readPage/' %}active{% endif %}">Read</a>
      <a href="#contact">Contact</a>
    </div>
  </nav>