{% extends 'base.html' %}

    {% block title %}
<title>Add New User</title>
    {% endblock title %}


    {% block body %}

<section>

  <div class="form-container">
    <h2>Add User</h2>
    <form action="" method="POST">
        {% csrf_token %}
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" required>
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" required>
      </div>
      <button type="submit" class="submit-btn">Add User</button>
    </form>
  </div>

</section>

    {% endblock body %}